# Temporary / OS-specific files
__pycache__/
*.py[cod]
*.egg-info/
*.so
.DS_Store 

# Data files
*.dat
*.npy

# Virtual environments
venv/
env/

# Logs
*.log

# IDE specific files 
.vscode/
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/